@charset "utf-8";


/* Author: Yamel */
/* Article Styles */
article {
    float: left;
    width: 384px;
}

 /* First Line and Drop Cap Styles */
article > p:first-of-type::first-line {
    font-size: 1.25em;
    font-variant: small-caps;
}
article > p:first-of-type::first-letter {
    font-size: 4em;
    font-family: serif;
    float: left;
    line-height: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
}
/* Aside Styles */
aside {
    width: 768px;
    float: left;
}
div#Forestpic {
    width: 688px;
    margin: 20px auto;
   
    position: relative;
}
img#forestImage {
    display: block;
    width: 100%;
 }